
Tetris/C#/.vs/tetris cs/v15/.suo
Tetris/C#/.vs/tetris cs/v15/Server/sqlite3/db.lock
Tetris/C#/.vs/tetris cs/v15/Server/sqlite3/storage.ide
Tetris/C#/.vs/tetris cs/v15/Server/sqlite3/storage.ide-shm
Tetris/C#/.vs/tetris cs/v15/Server/sqlite3/storage.ide-wal
Tetris/C#/tetris cs/bin/Debug/tetris cs.exe
Tetris/C#/tetris cs/bin/Debug/tetris cs.pdb
Tetris/C#/tetris cs/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Tetris/C#/tetris cs/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Tetris/C#/tetris cs/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Tetris/C#/tetris cs/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Tetris/C#/tetris cs/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Tetris/C#/tetris cs/obj/Debug/tetris cs.csproj.CoreCompileInputs.cache
Tetris/C#/tetris cs/obj/Debug/tetris cs.csproj.FileListAbsolute.txt
Tetris/C#/tetris cs/obj/Debug/tetris cs.csproj.GenerateResource.cache
Tetris/C#/tetris cs/obj/Debug/tetris cs.csprojAssemblyReference.cache
Tetris/C#/tetris cs/obj/Debug/tetris cs.exe
Tetris/C#/tetris cs/obj/Debug/tetris cs.pdb
Tetris/C#/tetris cs/bin/Debug/tetris cs.exe
Tetris/C#/tetris cs/bin/Debug/tetris cs.pdb
Tetris/C#/tetris cs/obj/Debug/tetris cs.csproj.CoreCompileInputs.cache
Tetris/C#/tetris cs/obj/Debug/tetris cs.csproj.FileListAbsolute.txt
Tetris/C#/tetris cs/obj/Debug/tetris cs.csproj.GenerateResource.cache
Tetris/C#/tetris cs/obj/Debug/tetris cs.csprojAssemblyReference.cache
Tetris/C#/tetris cs/obj/Debug/tetris cs.exe
Tetris/C#/tetris cs/obj/Debug/tetris cs.pdb
